USE [DBSOFIA20150422]
GO
/****** Object:  Table [dbo].[MasterCollection]    Script Date: 26/05/2015 05:43:33 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MasterCollectionCastigo](
	[Contrato] [bigint] NULL,
	[Grupo] [varchar](25) NULL,
	[Integrante] [varchar](25) NULL,
	[Distribuidor] [varchar](500) NULL,
	[IdDistribuidor] [int] NULL,
	[Cliente] [varchar](500) NULL,
	[RFC] [varchar](25) NULL,
	[Calle] [varchar](500) NULL,
	[Numero_Ext] [varchar](30) NULL,
	[Numero_Int] [varchar](30) NULL,
	[Colonia] [varchar](500) NULL,
	[CP] [varchar](15) NULL,
	[Ciudad] [varchar](100) NULL,
	[Estado] [varchar](100) NULL,
	[TelP] [varchar](30) NULL,
	[TelP2] [varchar](30) NULL,
	[EmpresaOC] [varchar](300) NULL,
	[CalleOC] [varchar](300) NULL,
	[NumExtOC] [varchar](30) NULL,
	[NumIntOC] [varchar](30) NULL,
	[ColoniaOC] [varchar](300) NULL,
	[CPOC] [varchar](15) NULL,
	[CiudadOC] [varchar](80) NULL,
	[EstadoOC] [varchar](80) NULL,
	[TelOc] [varchar](30) NULL,
	[TelOc2] [varchar](30) NULL,
	[AvalNombre] [varchar](300) NULL,
	[AvalCalle] [varchar](300) NULL,
	[ExtAval] [varchar](30) NULL,
	[IntAval] [varchar](30) NULL,
	[CPAval] [varchar](80) NULL,
	[AvalColonia] [varchar](300) NULL,
	[AvalCiudad] [varchar](300) NULL,
	[AvalEstado] [varchar](300) NULL,
	[AvalTel1] [varchar](30) NULL,
	[AvalTel2] [varchar](30) NULL,
	[AvalOC] [varchar](300) NULL,
	[AvalCalleOC] [varchar](300) NULL,
	[AvalExtOC] [varchar](30) NULL,
	[AvalIntOC] [varchar](30) NULL,
	[AvalCpOC] [varchar](80) NULL,
	[AvalColoniaOC] [varchar](300) NULL,
	[AvalCiudadOC] [varchar](300) NULL,
	[AvalEstadoOC] [varchar](300) NULL,
	[AvalTel1OC] [varchar](30) NULL,
	[AvalTel2OC] [varchar](30) NULL,
	[Aval2Nombre] [varchar](300) NULL,
	[Aval2Calle] [varchar](300) NULL,
	[Aval2Ext] [varchar](30) NULL,
	[Aval2Int] [varchar](30) NULL,
	[Aval2Cp] [varchar](15) NULL,
	[Aval2Colonia] [varchar](300) NULL,
	[Aval2Ciudad] [varchar](300) NULL,
	[Aval2Estado] [varchar](300) NULL,
	[Aval2Tel1] [varchar](30) NULL,
	[Aval2Tel2] [varchar](30) NULL,
	[Aval2OC] [varchar](100) NULL,
	[Aval2CalleOC] [varchar](300) NULL,
	[Aval2ExtOC] [varchar](30) NULL,
	[Aval2IntOC] [varchar](30) NULL,
	[Aval2CpOC] [varchar](300) NULL,
	[Aval2ColoniaOC] [varchar](300) NULL,
	[Aval2CiudadOC] [varchar](300) NULL,
	[Aval2EstadoOC] [varchar](300) NULL,
	[Aval2Tel1Oc] [varchar](30) NULL,
	[Aval2Tel2OC] [varchar](30) NULL,
	[Mes1] [money] NULL,
	[Mes2] [money] NULL,
	[Mes3] [money] NULL,
	[Mes4] [money] NULL,
	[Mes5] [money] NULL,
	[Mes6] [money] NULL,
	[Mes7] [money] NULL,
	[MesMas8] [money] NULL,
	[SaldoSeguros] [money] NULL,
	[InteresesMoratorios] [money] NULL,
	[DiaCorte] [varchar](15) NULL,
	[DiasAtraso] [int] NULL,
	[MontoBoletaVigente] [money] NULL,
	[MensualidadVigente] [money] NULL,
	[SaldoVencido] [money] NULL,
	[SaldoExigible] [money] NULL,
	[SaldoInsoluto] [money] NULL,
	[Balance] [money] NULL,
	[TotalPagado] [money] NULL,
	[MontoPagado] [money] NULL,
	[MontoCondonado] [money] NULL,
	[BoletasPagadas] [int] NULL,
	[BoletasDevengar] [int] NULL,
	[FechaUltPago] [datetime] NULL,
	[MontoUltPago] [money] NULL,
	[ReferenciaBancaria] [varchar](50) NULL,
	[ClaveBancaria] [varchar](30) NULL,
	[UnidadID] [int] NULL,
	[Unidad] [varchar](300) NULL,
	[NumMotor] [varchar](50) NULL,
	[FechaInicio] [datetime] NULL,
	[Plazo] [varchar](50) NULL,
	[Empresa] [varchar](300) NULL,
	[Producto] [varchar](300) NULL,
	[Plan] [varchar](300) NULL,
	[ContratoCombinado] [varchar](300) NULL,
	[Legal] [int] NULL,
	[SinAval] [bit] NULL,
	[Bucket] [varchar](50) NULL,
	[FechaCarga] [datetime] NULL,
	[CargaSiop] [bit] NULL,
	[evts] [int] NULL,
	[gps] [int] NULL,
	[DespachoAsignado] [varchar](500) NULL,
	[Bursatilizado] [bit] NULL,
	[NumeroBursatil] [int] NULL,
	[FechaBursatil] [datetime] NULL,
	[PolizaActiva] [bit] NULL,
	[MopBuro] [varchar](10) NULL,
	[FechaAlta] [datetime] NULL,
	[FechaEntrega] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[MontoFinanciado] [money] NULL,
	[AvalDistribuidor] [bit] NULL,
	[Domiciliado] [bit] NULL,
	[CicloCorte] [varchar](20) NULL,
	[NumPagos] [int] NULL,
	[FechaLegal] [datetime] NULL,
	[PorcCapital] [float] NULL,
	[ReservaCapital] [money] NULL,
	[ReservaInteres] [money] NULL,
	[Puntualidad] [float] NULL,
	[MontoUnidad] [money] NULL,
	[SeguroAuto] [money] NULL,
	[UnidadySeguro] [money] NULL,
	[FechaPrimeraVezLegal] [datetime] NULL,
	[Situacion] [varchar](40) NULL,
	[AutComCredito] [bit] NULL,
	[Marca] [varchar](200) NULL,
	[Submarca] [varchar](200) NULL,
	[TipoCliente] [varchar](200) NULL,
	[SegmentoCliente] [varchar](200) NULL,
	[EstadoRepublicaSeguro] [varchar](200) NULL,
	[TipoPersona] [varchar](200) NULL,
	[FechaOriginalMigrado] [datetime] NULL,
	[Correo1] [varchar](100) NULL,
	[Correo2] [varchar](100) NULL,
	[CotizacionExpress] [bit] NULL,
	[VentaDeCartera] [bit] NULL,
	[CreditoAnterior] [bigint] NULL,
	[FechaVentaCartera] [datetime] NULL,
	[NIP] [bit] NULL,
	[PersonaAutorizada] [varchar](300) NULL,
	[TelefonoCredito] [varchar](8000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
